# Classify earthquakes
- This piece of code is for classifying earthquakes according to their focal mechanism
- Method from Frohlich and Apperson 1992
- Author: JCG

In [2]:
import pandas as pd
import numpy as np

In [6]:
# infile = "/Users/jgra0019/Documents/phd_data/kur_fm/kur_combi_net_10km_step.csv" # file containing the earthquake dataframe - must have the T,N,P plunge values
# outfile = "./test.csv" # output file 

# eq_df = pd.read_csv(infile, header = 'infer')
# # drop duplicates
# eq_df = eq_df.drop_duplicates(subset='EVENT_ID', keep = 'last') # keep last (probably updates)
# eq_df.head()

,LON,LAT,DEPTH,DATE,TIME,EVENT_ID,DEPFIX,DEPQUAL,EX,MO,...,P_AZM,N_VAL,N_PL,N_AZM,SLAB_DIP,CLASS,LON_AVE,LAT_AVE,S_AVE,N_AVE
0,142.671,38.228,14.0,2011-03-11,05:46:21.86,558,False,L1,22.0,5.312,...,115.0,0.014,0.0,205.0,11.846660,MTHRUST,142.505228,38.266056,275.0,-125.0
1,153.285,46.589,15.0,2006-11-15,11:14:14.38,561,1.0,L1,21.0,3.508,...,123.0,-0.036,1.0,33.0,11.419228,MTHRUST,153.245522,46.618583,1565.0,-75.0
2,143.861,41.866,27.0,2003-09-25,19:50:08.01,559,1.0,L1,21.0,3.054,...,124.0,0.145,7.0,29.0,20.001219,MTHRUST,143.792413,41.918943,615.0,-125.0
3,147.340,43.842,35.0,1994-10-04,13:23:00.44,560,1.0,L1,21.0,3.000,...,112.0,0.120,37.0,218.0,26.525564,MTHRUST,147.366045,43.766564,985.0,-125.0
4,149.247,44.721,30.0,1995-12-03,18:01:10.18,563,False,L1,20.0,8.240,...,131.0,0.320,1.0,40.0,24.044151,MTHRUST,149.188297,44.877321,1165.0,-125.0

In [19]:
# infile = "/Users/jgra0019/Documents/phd_data/kur_fm/kur_combi_net_10km_step.csv" # file containing the earthquake dataframe - must have the T,N,P plunge values

eq_df = pd.read_csv('alu_combi_net_10km_step.csv', header = 'infer')
outfile = "./alu_eqs.csv" # output file 

# drop duplicates
eq_df = eq_df.drop_duplicates(subset='EVENT_ID', keep = 'last') # keep last (probably updates)
# eq_df.head()

In [20]:
# try to be strict first with the classification - follow Frohlich 1992
sin_thrust = (np.sin(eq_df['T_PL']*np.pi/180))**2
sin_ss = (np.sin(eq_df['N_PL']*np.pi/180))**2
sin_norm = (np.sin(eq_df['P_PL']*np.pi/180))**2

classif = []

for thrust, ss, norm in zip(sin_thrust, sin_ss, sin_norm):
    if thrust > 0.59:
    #if max(thrust, ss, norm) == thrust:
        classif.append('THRUST')
    elif norm > 0.75:
    #elif max(thrust, ss, norm) == norm:
        classif.append('NORM')
    elif ss > 0.75:
    #elif max(thrust, ss, norm) == ss:
        classif.append('SS')
    else:
        if thrust > norm and ss > norm:
            classif.append('O_THRUST')
        elif norm > thrust and ss > thrust:
            classif.append('O_NORM')
        else:
            classif.append('ODD')

eq_df['SINSQ_T'] = sin_thrust
eq_df['SINSQ_SS'] = sin_ss
eq_df['SINSQ_N'] = sin_norm
eq_df['TYPE'] = classif
len(classif)
eq_df.shape

(1440, 44)

In [21]:
eq_df.columns

Index(['LON', 'LAT', 'DEPTH', 'DATE', 'TIME', 'EVENT_ID', 'DEPFIX', 'DEPQUAL',
       'EX', 'MO', 'MW', 'EX.1', 'MRR', 'MTT', 'MPP', 'MRT', 'MTP', 'MPR',
       'STRIKE', 'DIP', 'RAKE', 'STRIKE.1', 'DIP.1', 'RAKE.1', 'EX.2', 'T_VAL',
       'T_PL', 'T_AZM', 'P_VAL', 'P_PL', 'P_AZM', 'N_VAL', 'N_PL', 'N_AZM',
       'SLAB_DIP', 'CLASS', 'LON_AVE', 'LAT_AVE', 'S_AVE', 'N_AVE', 'SINSQ_T',
       'SINSQ_SS', 'SINSQ_N', 'TYPE'],
      dtype='object')

In [22]:
# save to output file
eq_df.to_csv(outfile, header = True, index = False)

In [28]:
jovian.commit()

[jovian] Attempting to save notebook..
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ai/zuhair-alig31/jc-classif-eqs

'https://jovian.ai/zuhair-alig31/jc-classif-eqs'